# Android
.gradle
/build
/app/build
.cxx
/app/.cxx
local.properties
.idea
*.iml
.DS_Store
*.bin
*.ninja
*.ninja_deps
*.ninja_log
/public/tarot
/public/solarsystem

# Web / React
node_modules/
dist/
server.js
.env
bun.lock
